# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [2]:
import pandas as pd

movies_df = pd.read_csv("dataset/movies.csv")
movies_df.groupby("Major Genre").mean("Production Budget")[["Production Budget"]].sort_values(by="Production Budget", ascending=False)

                     Production Budget
Major Genre
Adventure                 6.884270e+07
Action                    5.468615e+07
Thriller/Suspense         3.300257e+07
Comedy                    2.842205e+07
Romantic Comedy           2.835201e+07
Western                   2.514783e+07
Drama                     2.258202e+07
Musical                   2.137769e+07
Horror                    1.852589e+07
Black Comedy              1.281528e+07
Concert/Performance       6.100000e+06
Documentary               4.215612e+06

### Qual o diretor dirigiu mais filmes?

In [3]:
import pandas as pd

movies_df = pd.read_csv("dataset/movies.csv")
movies_df.groupby("Director", as_index=False).size().sort_values(by="size", ascending=False)

              Director  size
489   Steven Spielberg    23
545        Woody Allen    16
470          Spike Lee    15
315    Martin Scorsese    15
415       Ridley Scott    14
..                 ...   ...
308       Mark Duplass     1
311    Martha Coolidge     1
316        Mary Harron     1
317  Mathieu Kassovitz     1
549           Zak Penn     1

[550 rows x 2 columns]

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [4]:
import pandas as pd

movies_df = pd.read_csv("dataset/movies.csv")
movies_df.groupby("Title").mean().sort_values(by=["US Gross","Production Budget"], ascending=False)[["US Gross","Production Budget"]]